In [31]:
import pandas as pd

In [30]:
df = pd.read_csv("pirates.csv")

In [43]:
df.head(60)

,id,sex,age,height,weight,headband,college,tattoos,tchests,parrots,favorite.pirate,sword.type,eyepatch,sword.time,beard.length,fav.pixar,grogg
0,1,male,28.0,173.11,70.5,yes,JSSFP,9,0,0,Jack Sparrow,cutlass,1,0.58,16,"Monsters, Inc.",11
1,2,male,31.0,209.25,105.6,yes,JSSFP,9,11,0,Jack Sparrow,cutlass,0,1.11,21,WALL-E,9
2,3,male,26.0,169.95,77.1,yes,CCCC,10,10,1,Jack Sparrow,cutlass,1,1.44,19,Inside Out,7
3,4,female,31.0,144.29,58.5,no,JSSFP,2,0,2,Jack Sparrow,scimitar,1,36.11,2,Inside Out,9
4,5,female,41.0,157.85,58.4,yes,JSSFP,9,6,4,Hook,cutlass,1,0.11,0,Inside Out,14
5,6,male,26.0,190.20,85.4,yes,CCCC,7,19,0,Jack Sparrow,cutlass,1,0.59,17,Monsters University,7
6,7,female,31.0,158.05,59.6,yes,JSSFP,9,1,7,Blackbeard,cutlass,0,3.01,1,Cars,9
7,8,female,31.0,172.52,74.5,yes,JSSFP,5,13,7,Hook,cutlass,1,0.06,1,Inside Out,12
8,9,female,28.0,164.57,68.7,yes,JSSFP,12,37,2,Anicetus,cutlass,0,0.74,1,Toy Story 3,16
9,10,male,30.0,183.52,84.7,yes,JSSFP,12,69,4,Jack Sparrow,cutlass,1,0.71,25,Monsters University,9
10,11,female,25.0,162.49,63.5,yes,CCCC,10,1,3,Blackbeard,cutlass,1,0.78,1,Inside Out,7
11,12,male,20.0,163.65,70.0,yes,CCCC,14,5,3,Jack Sparrow,cutlass,0,0.47,27,"Monsters, Inc.",8
12,13,female,24.0,171.04,72.6,yes,CCCC,8,6,0,Lewis Scot,cutlass,0,0.53,0,"Monsters, Inc.",12
13,14,male,26.0,177.99,78.2,yes,CCCC,9,12,3,Jack Sparrow,cutlass,1,1.33,19,Inside Out,7
14,15,female,45.0,167.65,65.4,yes,JSSFP,14,70,0,Hook,cutlass,1,0.33,0,Monsters University,9
15,16,female,40.0,165.10,65.7,yes,JSSFP,8,3,1,Hook,scimitar,1,27.56,1,The Incredibles,10
16,17,male,21.0,177.52,72.7,yes,CCCC,11,3,0,Jack Sparrow,cutlass,0,0.33,20,Finding Nemo,15
17,18,female,30.0,158.30,65.6,yes,JSSFP,7,107,3,Blackbeard,cutlass,0,1.55,0,"Monsters, Inc.",8
18,19,female,35.0,173.07,72.8,yes,JSSFP,7,75,14,Hook,cutlass,0,0.72,0,Finding Nemo,11
19,20,male,26.0,175.45,69.0,yes,CCCC,14,30,3,Jack Sparrow,cutlass,0,0.40,27,WALL-E,10
20,21,male,22.0,187.83,85.8,yes,CCCC,10,11,6,Jack Sparrow,cutlass,0,0.50,12,"Monsters, Inc.",6
21,22,female,34.0,179.06,82.1,no,JSSFP,5,13,4,Edward Low,cutlass,1,0.03,2,Ratatouille,8
22,23,male,23.0,158.66,53.5,yes,CCCC,13,11,1,Edward Low,cutlass,0,0.02,29,Finding Nemo,13
23,24,male,12.0,175.29,83.0,yes,CCCC,10,3,2,Jack Sparrow,cutlass,1,0.14,24,Up,8
24,25,male,35.0,187.48,85.6,yes,JSSFP,10,18,1,Jack Sparrow,sabre,1,11.23,17,Inside Out,2
25,26,female,26.0,153.54,54.6,yes,CCCC,10,10,3,Blackbeard,cutlass,1,1.10,0,Inside Out,9
26,27,male,15.0,171.48,66.0,no,CCCC,2,2,0,Jack Sparrow,banana,1,44.74,18,Inside Out,10
27,28,male,30.0,177.04,71.9,yes,JSSFP,15,15,4,Edward Low,cutlass,1,0.35,29,Inside Out,15
28,29,female,17.0,145.98,57.4,yes,CCCC,14,1,1,Hook,cutlass,0,0.18,0,Finding Nemo,11
29,30,female,26.0,134.87,37.9,yes,CCCC,12,44,10,Edward Low,cutlass,1,0.59,1,Monsters University,2
30,31,male,22.0,196.69,91.7,no,CCCC,2,54,1,Jack Sparrow,cutlass,1,2.19,17,Monsters University,11
31,32,male,22.0,181.95,79.4,yes,CCCC,15,6,2,Hook,cutlass,1,0.12,29,Monsters University,9
32,33,male,31.0,190.02,90.5,yes,JSSFP,13,3,1,Jack Sparrow,cutlass,1,0.29,24,Inside Out,7
33,34,female,NaN,162.60,61.0,yes,CCCC,13,15,6,Jack Sparrow,cutlass,1,1.26,0,"Monsters, Inc.",7
34,35,male,23.0,178.24,75.1,yes,CCCC,17,2,1,Hook,cutlass,0,0.34,24,Brave,8
35,36,female,18.0,163.09,63.3,yes,CCCC,9,14,0,Jack Sparrow,cutlass,0,0.14,0,Monsters University,9
36,37,other,27.0,161.20,63.6,no,CCCC,0,3,"""1""",Lewis Scot,scimitar,1,8.48,3,A Bug's Life,8
37,38,female,31.0,158.03,63.0,yes,JSSFP,8,1,2,Lewis Scot,cutlass,1,1.57,0,A Bug's Life,13
38,39,female,25.0,129.83,33.0,no,CCCC,6,39,1,Edward Low,sabre,0,1.13,1,Finding Nemo,13
39,40,female,36.0,153.68,61.7,yes,JSSFP,9,18,6,Anicetus,cutlass,1,0.17,0,Up,12
40,41,female,24.0,158.88,59.2,yes,CCCC,18,58,3,Jack Sparrow,cutlass,1,0.53,0,A Bug's Life,4
41,42,female,27.0,176.59,69.3,yes,CCCC,13,1,1,Edward Low,cutlass,1,1.35,1,Inside Out,8
42,43,female,26.0,158.60,67.7,yes,CCCC,15,10,2,Edward Low,cutlass,0,0.93,0,WALL-E,9
43,44,male,28.0,178.66,82.6,yes,CCCC,4,0,2,Jack Sparrow,cutlass,1,0.28,8,"Monsters, Inc.",19
44,45,male,28.0,167.63,65.9,yes,CCCC,8,17,5,Jack Sparrow,cutlass,1,0.51,17,Toy Story 3,10
45,46,female,24.0,176.23,75.3,yes,CCCC,14,14,8,Blackbeard,cutlass,1,0.23,0,Inside Out,6
46,47,female,23.0,157.70,64.9,yes,CCCC,12,56,2,Lewis Scot,cutlass,1,0.89,0,Up,9
47,48,male,27.0,166.62,67.8,no,CCCC,8,26,3,Lewis Scot,banana,1,31.39,11,"Monsters, Inc.",7
48,49,male,20.0,160.64,70.7,yes,CCCC,9,9,2,Jack Sparrow,cutlass,0,0.19,16,Toy Story 3,10
49,50,female,28.0,151.61,60.8,yes,CCCC,8,1,0,Lewis Scot,cutlass,0,1.00,1,Finding Nemo,9
50,51,male,26.0,170.25,71.0,yes,CCCC,9,13,1,Jack Sparrow,cutlass,1,0.79,15,Up,10
51,52,other,35.0,179.06,74.1,yes,JSSFP,13,0,4,Anicetus,cutlass,0,0.43,13,Ratatouille,13
52,53,male,27.0,191.01,89.6,yes,CCCC,11,6,1,Jack Sparrow,cutlass,1,0.92,15,Inside Out,5
53,54,female,38.0,160.91,58.2,yes,JSSFP,12,102,3,Lewis Scot,cutlass,1,0.51,1,Inside Out,0
54,55,male,18.0,161.41,63.8,yes,CCCC,8,1,5,Jack Sparrow,cutlass,1,0.68,13,Inside Out,12
55,56,male,24.0,187.51,83.4,yes,CCCC,8,17,1,Jack Sparrow,cutlass,0,0.46,19,Toy Story,11
56,57,male,26.0,182.52,76.7,yes,CCCC,15,36,1,Jack Sparrow,cutlass,0,2.91,20,"Monsters, Inc.",18
57,58,female,30.0,156.38,57.2,yes,CCCC,9,35,0,Anicetus,cutlass,1,0.14,0,Inside Out,7
58,59,male,25.0,170.51,73.9,yes,CCCC,8,25,9,Jack Sparrow,cutlass,1,0.67,23,Monsters University,15
59,60,female,32.0,151.83,46.8,no,JSSFP,2,20,2,Hook,scimitar,1,13.80,1,WALL-E,10

In [17]:
df.info()
#df["parrots"].dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               1000 non-null   int64
 1   sex              1000 non-null   object
 2   age              999 non-null    float64
 3   height           1000 non-null   float64
 4   weight           1000 non-null   float64
 5   headband         999 non-null    object
 6   college          1000 non-null   object
 7   tattoos          1000 non-null   int64
 8   tchests          1000 non-null   int64
 9   parrots          1000 non-null   object
 10  favorite.pirate  999 non-null    object
 11  sword.type       1000 non-null   object
 12  eyepatch         1000 non-null   int64
 13  sword.time       999 non-null    float64
 14  beard.length     1000 non-null   int64
 15  fav.pixar        1000 non-null   object
 16  grogg            1000 non-null   int64
dtypes: float64(4), int64(6), object(7)
memory usage: 132.9+ KB

In [18]:
#df = pd.read_csv("Head Injured Players.csv")
#df.head(5)

In [61]:
print("Single column value using dataframe[]")
print(df['headband'])

Single column value using dataframe[]
0      yes
1      yes
2      yes
3       no
4      yes
      ...
995    yes
996    yes
997    yes
998    yes
999    NaN
Name: headband, Length: 1000, dtype: object

In [113]:
#for column in df.columns:
    #for row in range(len(df["id"])):
       # if pd.isna(df.iloc[row, column]):
           # print(row)
           # print(column)

In [96]:
print("Single column value using dataframe[]")
print(df['headband'])

Single column value using dataframe[]
0      yes
1      yes
2      yes
3       no
4      yes
      ...
995    yes
996    yes
997    yes
998    yes
999    NaN
Name: headband, Length: 1000, dtype: object

In [10]:
#df.drop(33, inplace=True)

In [115]:
df['age'].mean()

27.35735735735736

In [4]:
df.loc[33, 'age'] = df['age'].mean()

In [5]:
df.head(35)

,id,sex,age,height,weight,headband,college,tattoos,tchests,parrots,favorite.pirate,sword.type,eyepatch,sword.time,beard.length,fav.pixar,grogg
0,1,male,28.000000,173.11,70.5,yes,JSSFP,9,0,0,Jack Sparrow,cutlass,1,0.58,16,"Monsters, Inc.",11
1,2,male,31.000000,209.25,105.6,yes,JSSFP,9,11,0,Jack Sparrow,cutlass,0,1.11,21,WALL-E,9
2,3,male,26.000000,169.95,77.1,yes,CCCC,10,10,1,Jack Sparrow,cutlass,1,1.44,19,Inside Out,7
3,4,female,31.000000,144.29,58.5,no,JSSFP,2,0,2,Jack Sparrow,scimitar,1,36.11,2,Inside Out,9
4,5,female,41.000000,157.85,58.4,yes,JSSFP,9,6,4,Hook,cutlass,1,0.11,0,Inside Out,14
5,6,male,26.000000,190.20,85.4,yes,CCCC,7,19,0,Jack Sparrow,cutlass,1,0.59,17,Monsters University,7
6,7,female,31.000000,158.05,59.6,yes,JSSFP,9,1,7,Blackbeard,cutlass,0,3.01,1,Cars,9
7,8,female,31.000000,172.52,74.5,yes,JSSFP,5,13,7,Hook,cutlass,1,0.06,1,Inside Out,12
8,9,female,28.000000,164.57,68.7,yes,JSSFP,12,37,2,Anicetus,cutlass,0,0.74,1,Toy Story 3,16
9,10,male,30.000000,183.52,84.7,yes,JSSFP,12,69,4,Jack Sparrow,cutlass,1,0.71,25,Monsters University,9
10,11,female,25.000000,162.49,63.5,yes,CCCC,10,1,3,Blackbeard,cutlass,1,0.78,1,Inside Out,7
11,12,male,20.000000,163.65,70.0,yes,CCCC,14,5,3,Jack Sparrow,cutlass,0,0.47,27,"Monsters, Inc.",8
12,13,female,24.000000,171.04,72.6,yes,CCCC,8,6,0,Lewis Scot,cutlass,0,0.53,0,"Monsters, Inc.",12
13,14,male,26.000000,177.99,78.2,yes,CCCC,9,12,3,Jack Sparrow,cutlass,1,1.33,19,Inside Out,7
14,15,female,45.000000,167.65,65.4,yes,JSSFP,14,70,0,Hook,cutlass,1,0.33,0,Monsters University,9
15,16,female,40.000000,165.10,65.7,yes,JSSFP,8,3,1,Hook,scimitar,1,27.56,1,The Incredibles,10
16,17,male,21.000000,177.52,72.7,yes,CCCC,11,3,0,Jack Sparrow,cutlass,0,0.33,20,Finding Nemo,15
17,18,female,30.000000,158.30,65.6,yes,JSSFP,7,107,3,Blackbeard,cutlass,0,1.55,0,"Monsters, Inc.",8
18,19,female,35.000000,173.07,72.8,yes,JSSFP,7,75,14,Hook,cutlass,0,0.72,0,Finding Nemo,11
19,20,male,26.000000,175.45,69.0,yes,CCCC,14,30,3,Jack Sparrow,cutlass,0,0.40,27,WALL-E,10
20,21,male,22.000000,187.83,85.8,yes,CCCC,10,11,6,Jack Sparrow,cutlass,0,0.50,12,"Monsters, Inc.",6
21,22,female,34.000000,179.06,82.1,no,JSSFP,5,13,4,Edward Low,cutlass,1,0.03,2,Ratatouille,8
22,23,male,23.000000,158.66,53.5,yes,CCCC,13,11,1,Edward Low,cutlass,0,0.02,29,Finding Nemo,13
23,24,male,12.000000,175.29,83.0,yes,CCCC,10,3,2,Jack Sparrow,cutlass,1,0.14,24,Up,8
24,25,male,35.000000,187.48,85.6,yes,JSSFP,10,18,1,Jack Sparrow,sabre,1,11.23,17,Inside Out,2
25,26,female,26.000000,153.54,54.6,yes,CCCC,10,10,3,Blackbeard,cutlass,1,1.10,0,Inside Out,9
26,27,male,15.000000,171.48,66.0,no,CCCC,2,2,0,Jack Sparrow,banana,1,44.74,18,Inside Out,10
27,28,male,30.000000,177.04,71.9,yes,JSSFP,15,15,4,Edward Low,cutlass,1,0.35,29,Inside Out,15
28,29,female,17.000000,145.98,57.4,yes,CCCC,14,1,1,Hook,cutlass,0,0.18,0,Finding Nemo,11
29,30,female,26.000000,134.87,37.9,yes,CCCC,12,44,10,Edward Low,cutlass,1,0.59,1,Monsters University,2
30,31,male,22.000000,196.69,91.7,no,CCCC,2,54,1,Jack Sparrow,cutlass,1,2.19,17,Monsters University,11
31,32,male,22.000000,181.95,79.4,yes,CCCC,15,6,2,Hook,cutlass,1,0.12,29,Monsters University,9
32,33,male,31.000000,190.02,90.5,yes,JSSFP,13,3,1,Jack Sparrow,cutlass,1,0.29,24,Inside Out,7
33,34,female,27.357357,162.60,61.0,yes,CCCC,13,15,6,Jack Sparrow,cutlass,1,1.26,0,"Monsters, Inc.",7
34,35,male,23.000000,178.24,75.1,yes,CCCC,17,2,1,Hook,cutlass,0,0.34,24,Brave,8

In [8]:
#rows_with_null = df.loc[df.isnull().any(axis=1)]
#columns_with_null = df.columns[df.isnull().any()]
#print("Rows with null values:")
#print(rows_with_null)

#print("\nColumns with null values:")
#print(columns_with_null)

Rows with null values:
     A    B    C
0  1.0  NaN  1.0
1  2.0  2.0  NaN
2  NaN  3.0  NaN

Columns with null values:
Index(['A', 'B', 'C'], dtype='object')

In [49]:
df["age"].mean()

TypeError: 'NoneType' object is not subscriptable

In [72]:
number_genders = df['sex'].unique()
num_unique_genders = len(number_genders)
print("Number of genders:", num_unique_genders)
print('gender names:', number_genders)

Number of genders: 3
gender names: ['male' 'female' 'other']

In [77]:
aver_age = df["age"].mean()
female_pirates = df[df['sex'] == 'female']
average_age_female = female_pirates['age'].mean()
print("average age", aver_age)
print("average age of female pirates", average_age_female)

average age 27.35735735735736
average age of female pirates 29.922246220302377

Percentage of pirates weighing less than 100 pounds in kg: 100.0

In [83]:
lightweight_pirates = df[df['weight'] < 100]

# Calculate the percentage of lightweight pirates
total_pirates = len(df)
lightweight_pirates_count = len(lightweight_pirates)
percentage_lightweight = (lightweight_pirates_count / total_pirates) * 100

print("Percentage of pirates weighing less than 100 pounds:", percentage_lightweight, "%")

Percentage of pirates weighing less than 100 pounds: 2.2 %

In [85]:
df['weight_lb'] = df['weight']*2.2
percent = (df['weight_lb'] < 100).mean() * 100
print(percent)

100.0

In [ ]:
df['height_we'] = df['height']

In [93]:
shortest_height = df['height'].min()

print("Shortest height:", shortest_height)

Shortest height: 129.83

In [99]:
idx = df['height'].idxmin()
print(idx)

38

In [100]:
df['fav.pixar'].mode()

0    Inside Out
Name: fav.pixar, dtype: object

In [136]:
average_num2 = df['eyepatch'].mean()
average_num3 = df['eyepatch'].median()
print("aver:", average_num2)
print("median:", average_num3)

aver: 0.658
median: 1.0

In [125]:
#average_num4 = df['parrots'].mean()

In [133]:
df.loc[36, 'parrots'] = 1
idx = 0
for i in df['parrots']:
    df.loc[idx, 'parrots'] = int(i)
    idx = idx + 1

In [137]:
df['parrots'].mean()

2.7109826589595376

In [138]:
df['parrots'].median()

2.0

In [14]:
#challenge 7
existing_df = pd.read_csv('pirates.csv')
new_df = pd.read_csv('PirateNewRow.csv')
combined_df = pd.concat([existing_df, new_df], ignore_index=True)
# If you want to keep the original index, omit the `ignore_index=True` parameter.
# Write the concatenated DataFrame to a new CSV file
#combined_df.to_csv('combined_data.csv', index=False)

In [16]:
#df.head(1001)

In [12]:
newRow = pd.read_csv('PirateNewRow.csv')
combined_df = pd.concat([df, new_df], ignore_index=True)
combined_df.drop["index"]

In [34]:
#challenge 8
newCol = pd.read_csv('PirateNewColumn.csv')

In [35]:
merged_df = pd.merge(combined_df, newCol, on='id', how='inner')

In [37]:
df.head()

,id,sex,age,height,weight,headband,college,tattoos,tchests,parrots,favorite.pirate,sword.type,eyepatch,sword.time,beard.length,fav.pixar,grogg
0,1,male,28.0,173.11,70.5,yes,JSSFP,9,0,0,Jack Sparrow,cutlass,1,0.58,16,"Monsters, Inc.",11
1,2,male,31.0,209.25,105.6,yes,JSSFP,9,11,0,Jack Sparrow,cutlass,0,1.11,21,WALL-E,9
2,3,male,26.0,169.95,77.1,yes,CCCC,10,10,1,Jack Sparrow,cutlass,1,1.44,19,Inside Out,7
3,4,female,31.0,144.29,58.5,no,JSSFP,2,0,2,Jack Sparrow,scimitar,1,36.11,2,Inside Out,9
4,5,female,41.0,157.85,58.4,yes,JSSFP,9,6,4,Hook,cutlass,1,0.11,0,Inside Out,14